<% provide(:title, "Help") %>
  <h1>Help</h1>
   <p>Get help on Ruby on Rail Tutorial at the
   <a href="http://www.railstutorial.org/help">
   Rails Tutorial HELP page</a></br>
   To get help on this sample app seek
   <a href="http://www.railstutorial.org/book">
   <em>Ruby on Rail Tutorials</em></a>Book
   </p>

